boto3>=1.4.0
botocore>=1.4.34
docutils>=0.12
functools32==3.2.3-2
futures==3.0.5
Jinja2>=2.8
jmespath>=0.9.0
vcversioner==2.16.0.0
jsonschema>=2.5.1
c7n==0.8.23.0
Markup
MarkupSafe==0.23
python-dateutil>=2.5.2
ldap3>=2.1.1
PyYAML>=3.12
six==1.10.0
python-memcached==1.58
ipaddress>=1.0.16
argcomplete>=1.8.2
jsonschema>=2.5.1
